.home-categories{
    
  div {
      border-radius: 5px;
      background-color: lightcyan;
  }
  display: grid;
  grid-gap:2.5vh;
  min-height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 50px 50px;
  grid-template-areas:

  'b b c c c'
  'b b c c c'
  'b b c c c'
  'd d c c c'
  'd d c c c'
  'd d c c c'
  'd d c c c'
  'e e e e e'
  'e e e e e'
  ;
}



.category-c{
  grid-area: c;
  background-image: url("../assets/imgs/womenn.jpg");
  background-size: 100%;  
}



.category-a {
  grid-area: a;
  background-size: 100% 100%;
}

.category-b {
  background-image: url("../assets/imgs/heart.jpg");
  // background-image: url("../assets/imgs/ment.jpg");
  background-position: center;
  background-size: 300px;
  grid-area: b;
}



.category-d {
  background-image: url("../assets/imgs/accori.jpg");
  background-size: 100% 100%;
  grid-area: d;
}

.category-e {
  background-image: url("../assets/imgs/bag.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  grid-area: e;
}


.hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/imgs/cover2.jpg");
  margin-bottom:20px;
  background-size: 100% 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title{
  display: flex;
  color:white;
  align-items: center;
  font-family: Zcool;
  font-size: 2.8em;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
  -webkit-text-stroke-color: black;
  // margin: 150px 150px 150px 150px;
}

.hero-search{
  font-family: Lato;
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  border-radius: 5px;
  outline: none;
  &:focus{
    border: 1px solid #73585B;
    transition: 0.35s ease;
    color: black;
}
}

.home-categories{
  font-family: Lato;
  font-size: 1.5rem;

}



