
.item-main-image{
    position: relative;
    
}

.item-details-title{
    max-width: 30ch
}

.store-details{
    align-items: center;

}

.brand-name{
    margin-bottom: 0px;
    margin-left:10px
}

.wishlist-icon{
    position: absolute;
    width: 35px;
    transform: scaleX(-1);
    align-self: flex-end;
    margin-bottom: -45px;
    margin-right: 5px;
    margin-top: 5px;
    top: -1px;
    right: 17px;
    &:hover{
        cursor: pointer;
        
    }
}



.main-img {
    display: block;
    max-width:357px;
    max-height:456.4px;
    width: auto;
    height: auto;
    margin: 0 15px;
  
  }


  .secondary-img{
    display: block;
    max-width:107.1px;
    max-height:100.2px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    &:hover{
        cursor: pointer;
    }

  }

  .item-details-btn {
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: cursive;
    font-size: 12px;
    padding: 10px 46px;
    /* text-decoration: none; */
    text-shadow: 0px -2px 11px #2f6627;
    margin:2px;
    &.buy-now{
        // background:linear-gradient(to bottom, #20c94d 5%, #2cad18 100%);
        background-color:$clr1;
        &:hover{
            background-color:darken($clr1, 10%);

        }
    }
    &.add-to-cart{
      
        background-color:$clr4;
        &:hover{
           
            background-color:darken($clr1, 10%);
        }
    }
    &.add-review{
        background-color:$clr1;
        &:hover{
            
            background-color:darken($clr1, 10%);
        }
    }
    &.add-to-wishList{
        background:lightcoral;
        background-color:lightcoral;
        &:hover{
            background:linear-gradient(to bottom, rgb(199, 105, 105) 5%, lightcoral 100%);
            background-color:lightcoral;
        }
    }
}
.item-details-btn:active {
	position:relative;
	top:1px;
}

.item-side-details{
    max-height: 456.4px;
    // max-width: 35%;
  
}

.previous-img{
background-color: lightgrey;
color: black;
border-radius: 50%;
text-decoration: none;
display: inline-block;
padding: 8px 16px;
height: 42px;
position: absolute;
left: 22px;
top: 43%;
z-index: 1;
&:hover{
    background-color: darkgray;

}

}
.next-img{
    background-color: lightgrey;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    height: 42px;
    position: absolute;
    right: 22px;
    top: 43%;
    z-index: 1;
    &:hover{
        background-color: darkgray;
    
    }
    }
.item-price{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
}

.size-select {
    max-width: 35%;
    padding: 3px;
}

.average-rating{
    align-items: center;
}

.num-of-rates{

    margin-left: 10px;

}

.item-details-main{

    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
    margin-bottom: 10px;

}


.reviews{

    margin-bottom: 10px;
tr{
    height: 35px;
}

.avatar{

    background-color: $clr2
}

}


.review-section{

    textarea {
        resize: none;
      }
     &.review-input{


         &.review-textarea{
     
             resize: none;
         }

     }


}