
.shop-page{
  display: flex;
  flex-direction: column;
}

.shop-container{
    // font-family: Lato, sans-serif;
    background-color: #F2F2F2;
    position:relative;
    // width:calc(100vw - 370px);
    width:calc(100vw - 370px);
    // width: 100%;
    align-self: flex-end;
    transition: width .8s;
}

.shop-header{
    max-height: 70vh;
    display: grid;
    grid-template-columns:
    //  minmax(1.6rem, 1fr) 
     minmax(auto, 2.7fr) 
    //  minmax(auto, 500px) 
    minmax(auto, 1.2fr) 

}

.coverImg{
      background-repeat: no-repeat;
      background-size: cover;
    //  background-position: initial;
}
.shop-logo{
    width:150px;
    height:150px;
    border-radius: 900px;
    margin-left:10%;
    border: 2px solid lightgrey;
}


.title{
    text-shadow: 1px 1px lightgrey;
    font-family: Bangers , sans-serif;
    
}



.designer-name{
    // font-family: Lato, sans-serif;
}


.shop-video{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 265px;
    mix-blend-mode: multiply;
    background-color: whitesmoke;
    top: 0;
    right: 0;

   
}

.insta-icon{
    max-width:50px;
    justify-self: start ;
    padding:7px;
 
}

.fb-icon{
    max-width:50px;
    justify-self: end;
    padding:7px;
   
}



.searchBtn{
    border:none;
    padding:10px;
    font-size: 1.5em;
    background-color: transparent;
}

.shop-edit-btn{
  position: fixed;
  top:5px;
    width: 50px;
    padding: 5px;
    z-index:3;
}



.modal-settings {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    border-top: $clr4 solid 10px;
   color: $clr3;
   font-size:1rem;
   padding:20px;
   height:100%;
   text-align: center;
   transform: translate(-100% , 0);

   .field{
  position: relative;
  margin-top: 40px;
  
  input[type="text"]{
    display: inline-block;
     width: 300px;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
  }
  
  input[type="text"] + label{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100px;
    line-height: 30px;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 8px;
    background: grey;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  
  input[type="text"]:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }
  
  input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }
   }

   img{
       width:30px;
   }



  h2{
    color: grey;
  }

  .save-btn{
      margin-top:30px;
      width:100%;
  }


  }


  .modal-chat{
      background-color: whitesmoke;
      position: fixed;
      bottom:70px;
      right:2px;
      width: 150px;
      height: 250px;
      font-size:0.5em;
  }

  .shop-info{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    height:265px;
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    background-color: rgba(255,255,255,0.7);
    padding: 13px;
        align-items: center;

        .details{
          display: flex;
          flex-direction: column;
          padding:15px;
        }
  }

  .shop-social{
    // grid-column: 4;
    // grid-row: 1;
    // align-self: end;
    display: flex;
    /* justify-self: end; */
    z-index: 2;
  }

  .chat-icon{
    position: fixed;
    right:3px;
    bottom:3px;
    width:70px;
    border-radius: 9000px;
  }

  .add-item-btn{
    background-color: white;
    margin: auto;
    width: 100%;
  //  padding-right:10%;
  //  padding-left:10%;
  
  }


  .edit-item{
    background-color: rgba(255, 255, 255, 0.5);
    padding:22px;
    display: flex;
    flex-direction: column;
    input[type="text"] {
      height: 25px;
      font-size: 1rem;
      border: none;
    }

   
  
  }

