

.shop-container{
    font-family: Lato, sans-serif;
}

.shop-header{
    max-height:70vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px 10px;
}

.coverImg{
  
    grid-column: 1/13;
    grid-row: 1 / 8;
}

.shop-logo{
    width:200px;
    height:200px;
    grid-column: 2 / 4;
    grid-row: 4 / 6;
    border-radius: 900px;
    border: 2px solid lightgrey;
}


.title{
    grid-column: 4 / 8;
    grid-row: 6 / 8;
    text-shadow: 1px 1px lightgrey;
    font-family: Lato-italic , sans-serif;
}

.description{
    grid-column: 4 / 7;
    grid-row: 8 / 12;
}

.designer-name{
    font-family: Lato-italic, sans-serif;
    color:white;
    grid-column: 10 / 12;
    grid-row: 8 / 10;
    justify-self: center ;

}

.shop-video{
    grid-column: 7 / 9;
    grid-row: 9 / 13;
    padding:5px;
    border-radius:10px;
    background-color: whitesmoke;
}

.insta-icon{
    max-width:50px;
    justify-self: start ;
    grid-column: 11 / 12;
    grid-row: 7/ 9;
}

.fb-icon{
    max-width:50px;
    justify-self: end;
    grid-column: 10 / 11;
    grid-row: 7/ 9;
}

.setting-panel{
    grid-column: 1 / 5;
    grid-row: 2/ 12;
}

