.main-logo {
  width: 48%;
  height: 18%;
}

.menu-icons {
  width: 60px;
  height: 60px;
}
.cover-photo {
  object-fit: cover;
  object-position: top;
  height: 500px;
  filter: brightness(40%);
}

.header-text-search {
  position: absolute;
  bottom: 340px;
  right: 410px;
  color: white;
}

.search {
  input {
    width: 600px;
    height: 50px;
    background-color: $clr4;
    border: 0px;
  }
  button {
    margin-top: 20px;
    background-color: $clr5;
    border: 0px;
    width: 100px;
    height: 40px;
    color: $clr4;
  }
}
.nav-icon {
  // background-color: black;
  // height: 50px;
  padding: 10px;
  position: absolute;
  opacity: 65%;
  z-index: 1;
  padding: 10px;
  // bottom: 340px;
  // right: 320px;
}

.nav-text{
  color:$clr3
}


