.main-header{
    
        background-color: #dcdcdc;
        box-shadow: 5px 1px white;
    
    .logo{
        color:white;
    }

    // a{
    //     color:white;
    //    padding:10px;
    // }
}


