.inner-nav {
  margin-bottom: 10px;
  background-color: $clr4;
  .inner-nav-icons {
    width: 60px;
    height: 60px;
  }
  .inner-logo {
    width: 20%;
    height: 74%;
    padding-top:5px
  }
  .inner-nav-text{
   color:$clr1
  }
}
