.inner-nav {

  // margin-bottom: 10px;
  background-color: $clr1;

  margin-bottom: 20px;
  height: 72px;


  // .down-border {
  //   position: relative;
  //   top:20px;
  //   width:30px;
  //   border-bottom: 1px solid $clr1;
  // }
  .inner-logo {
    // padding-top: 5px;
    padding-left: 10px;
    font-family: Lobster;
    color: $clr4;
    font-size: 40px;
    line-height: 0px;
    position: relative;
    bottom: 8px;
  }



  .bell-icon{
    width: 30px;
    height: 30px;


  }
  .nav-right-side {
    padding-right: 15px;
    .inner-nav-icons {
      padding-left: 10px;
      width: 80px;
      height: 80px;
  
    }
    .cart{
      padding-left: 15px;
      display: block;
    }
    .inner-nav-text {
      padding-left:15px;
      color: $clr4;
    }
  }



  
.search {
  z-index: 3;
  position: relative;
  top:25px;
  input {
    height: 90px;
    width:400px;

  }
  button {
    height:20px;
    bottom:45px;
    left:140px;
    font-size: 14px;

  }
}
  .notification-badge {
    position: absolute;
    top: 20px;
    right:  18px;
    // right: -24px;
    padding: 2px 5px;
   
    color: green;
    font-size: 12px;
    z-index: 23;
    font-weight: bolder;
  }

  .notification-seller-badge{

    position: absolute;
    top: 23px;
    
    right: 102px;
    padding: 2px 5px;
   
    color: black;
    font-size: 12px;
    z-index: 23;
    font-weight: bolder;


  }
}


