.inner-nav {
  background-color: $clr1;
  height: 72px;

  .menu-btn {
    @include for-mobile-layout {
      background-color: transparent;
      border: 0px;
      width: 55px;
      height: 55px;
      padding: 15px;
    }
    @include for-normal-layout {
      display: none;
    }
    @include for-wide-layout {
      display: none;
    }
  }

  .inner-logo {
    // padding-top: 5px;
    padding-left: 10px;
    font-family: Lobster;
    color: $clr4;
    font-size: 40px;
    line-height: 0px;
    position: relative;
    bottom: 8px;

    @include for-mobile-layout {
      font-size: rem(30px);
    }
    @include for-normal-layout {
    }
    @include for-wide-layout {
    }
  }

  .bell-icon {
    width: 30px;
    height: 30px;
  }
  .nav-right-side {
    padding-right: 15px;

    .nav-texts {
      @include for-mobile-layout {
        flex-direction: column;
      }
      @include for-normal-layout {
      }
      @include for-wide-layout {
      }
    }

    .inner-nav-icons {
      padding-left: 10px;
      width: 80px;
      height: 80px;
    }
    .cart {
      padding-left: 15px;
      display: block;
    }
    .inner-nav-text {
      padding-left: 15px;
      color: $clr4;

      &:hover {
        cursor: pointer;
      }

      .logout {
        border: none;
        color: white;
        font-size: 16px;
        background-color: inherit;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .close-btn {
      @include for-mobile-layout {
        display: block;
        width: 10%;
        height: 10%;
        margin-top: 10px;
      }
      @include for-normal-layout {
        display: none;
      }
      @include for-wide-layout {
        display: none;
      }
    }

    @include for-mobile-layout {
      z-index: 6;
      flex-direction: column;
      justify-content: space-between;
      background: $clr1;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 44vh;
      transform: translate(100%, 0);
      transition: transform 0.6s;
    }
    @include for-normal-layout {
    }
    @include for-wide-layout {
    }

    &.open {
      @include for-mobile-layout {
        transform: translate(0, 0);
      }
      @include for-normal-layout {
      }
      @include for-wide-layout {
      }
    }
  }

  .search {
    z-index: 3;
    position: relative;
    input {
      height: 40px;
      width: 400px;
      top: 20px;
    }
    button {
      height: 30px;
      bottom: 0px;
      left: -105px;
      font-size: 14px;
    }

    @include for-mobile-layout {
      display: none;
    }
    @include for-normal-layout {
      display: none;
    }
    @include for-wide-layout {
      display: block;
    }
  }
  .notification-badge {
    position: absolute;
    top: 20px;
    right: 18px;
    // right: -24px;
    padding: 2px 5px;

    color: green;
    font-size: 12px;
    z-index: 23;
    font-weight: bolder;
  }

  .notification-seller-badge {
    position: absolute;
    top: 23px;

    right: 102px;
    padding: 2px 5px;

    color: black;
    font-size: 12px;
    z-index: 23;
    font-weight: bolder;
  }
}
