.container {
  // max-width: $normal-breakpoint;
  margin: 0 auto;
  // padding-left: 10px;
  // padding-right: 10px;
  // min-height: 100vh;
  // position:relative;
  
  @include for-narrow-layout {
      max-width: $mobile-breakpoint;
  }
  @include for-normal-layout {
      max-width: $narrow-breakpoint;
  }
  @include for-wide-layout {
      max-width: $normal-breakpoint;
  }
}


//modal


.display-block {
  display: block;
}

.display-none {
  display: none;
}
